@page "/"

<PageTitle>Book Reviews</PageTitle>

<h1 Style="text-align: center;">Book Reviews</h1>

<MudContainer width="700" height="700" Style="text-align: center;">
    <MudImage Src="img/dog_in_park.png" 
              Alt="dog_in_park" Width="700" Height="700">  </MudImage>
       
</MudContainer>

<p>Welcome to Book Reviews! We are passionate about books and love to share our thoughts and opinions on the latest reads. Whether you are looking for your next favorite novel or just want to explore new genres, our reviews and recommendations will help you discover something amazing.
Our site features a wide variety of book reviews, from fiction to non-fiction, bestsellers to hidden gems. Join our community of book lovers and embark on a journey through the world of literature. Happy reading!</p>
